aiohttp==3.7.4
async-timeout==3.0.1
certifi==2019.9.11
chardet==3.0.4
discord.py==0.16.12
idna==2.8
langcodes==1.4.1
marisa-trie==0.7.5
msgpack==0.6.2
multidict==4.4.2
oauthlib==3.1.0
Pillow>=7.1.0
PySocks==1.7.1
regex==2018.2.21
requests==2.22.0
requests-oauthlib==1.2.0
six==1.13.0
tweepy==3.8.0
urllib3==1.25.6
websockets==3.4
wordfreq==2.2.1
